* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.main_box {
    background-image: url("photo.jpg");
    background-size: cover;
    height: 100vh;
}

.btn_one i {
    color: white;
    font-size: 30px;
    font-weight: 700;
    left: 16px;
    position: absolute;
    line-height: 60px;
    transition: all 0.5s ease-in;

}

.sidebar_menu {
    position: fixed;
    height: 100vh;
    left: -300px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in;
}

.sidebar_menu .logo a {
    position: absolute;
    left: 52px;
    color: azure;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    top: 18px;
}

.sidebar_menu .logo {
    height: 60px;
}

.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .btn_two i {
    position: absolute;
    color: grey;
    font-size: 20px;
    font-weight: 700;
    left: 270px;
    top: 20px;
    cursor: pointer;
    opacity: 0;

}

.sidebar_menu .menu li {
    margin: 5px;
    padding: 14px 20px;
}

.sidebar_menu .menu a,
i {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu i {
    padding-right: 10px;
}

.sidebar_menu .social_media {
    color: white;
    opacity: 0.5;
    position: absolute;
    left: 25%;
    bottom: 25px;
    padding: 0 5px;
}

.sidebar_menu .social_media i {
    padding-right: 10px;
}

#check {
    display: none;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);

}

.btn_one i:hover {
    font-size: 25px;
}

.btn_two i:hover {
    font-size: 25px;
}


.sidebar_menu .social_media i:hover {
    opacity: 1;
    transform: scale(1, 1);

}

#check:checked~.sidebar_menu {
    left: 0;
}

#check:checked~.btn_one i {
    opacity: 0;
}

#check:checked~.sidebar_menu .btn_two i {
    opacity: 1;
}
